<h1><%= title %></h1>
<p>Welcome to emergence foods, a basic food store website using express to get and update food database entries</p>

<h1>Dynamic Content</h1>

<p>This store has the following record counts:</p>

<ul>
  <li><strong>Foods: </strong><%= food_count %></li>
  <li><strong>Categories: </strong><%= category_count %></li>
</ul>